{
  "cli": {
    "version": ">= 16.31.0",
    "appVersionSource": "remote"
  },
  "build": {
    "development": {
      "developmentClient": true,
      "distribution": "internal",
      "env": {
        "EXPO_PUBLIC_API_URL": "http://192.168.20.19:3000",
        "EXPO_PUBLIC_BUILD_ENV": "development"
      }
    },
    "preview": {
      "distribution": "internal",
      "android": {
        "buildType": "apk"
      },
      "env": {
        "EXPO_PUBLIC_API_URL": "https://backendaliados-sistem.onrender.com",
        "EXPO_PUBLIC_BUILD_ENV": "preview"
      }
    },
    "production": {
      "android": {
        "buildType": "apk"
      },
      "autoIncrement": true,
      "env": {
        "EXPO_PUBLIC_API_URL": "https://backendaliados-sistem.onrender.com",
        "EXPO_PUBLIC_BUILD_ENV": "production",
        "EXPO_PUBLIC_SUPABASE_URL": "YOUR_SUPABASE_URL_HERE",
        "EXPO_PUBLIC_SUPABASE_ANON_KEY": "YOUR_SUPABASE_ANON_KEY_HERE",
        "EXPO_PUBLIC_API_URL_LOCAL": "http://192.168.20.19:3000",
        "EXPO_PUBLIC_API_URL_PRODUCTION": "https://backendaliados-sistem.onrender.com"
      }
    }
  },
  "submit": {
    "production": {}
  }
}



#se ejecuta este comando para crear el apk
# IMPORTANTE: NO borrar .expo para evitar problemas con TypeScript

cd /Users/alejandrofagua/Documents/GitHub/Aliados_sistem/aliados_sistem_app
rm -rf node_modules dist build android/build android/.gradle
npm install
eas build --platform android --local
